*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    /*테두리를 포함한 모든 태그요소에 크기를 보여준다*/
}

body{
    display:flex;
    align-items:center;
    justify-content: center;
    min-height: 100vh;
    color: #2c3e50;
    background-color: #f0f8ff;
    animation: fadein 1.5s;
}

@keyframes fadein{
    from{
        opacity:0%;
    }
    to{
        opacity:100%;
    }
}

h1{
    margin-bottom: 0;
    font-size : 300%;
    color: #34495e;
}

.calculator{
    display:inline-block;
}
.container{
    display:block;
    text-align: center;
}

input{
    direction:ltr;
    /*입력방향을 왼에서 오른으로*/
    background-color: #ffff;
    width:80vw;
    font-size:3rem;
    color:#2c3e50;
    border:2px solid #bdc3c7;
    border-radius:0.5rem; /*도혀으이 모서리의 둥근 정도를 표현*/
}

table{
    margin : 0 auto;
    /*주로 display 속성이 block인 값을 가진 태그요소들을 가운데로 이동*/
}

button{
    /*border : none;*/
    background-color: #ecf0f1;
    width:20vw;
    height:10vw;
    font-size:2rem;
    border-radius:0.5rem;
    color:#2c3e50;
    transition:box-shadow 03s ease, transform 0.2s ease;
}

button:active{
    transform:scale(0.90);
    box-shadow:3px 2px 22px 1px rgba(19,145,137,0.9);
}/*버튼을 눌렀을 때*/

button:hover{
    box-shadow:0px 0px 10px 0px rgba(0,0,0,0.2);
}