/*임의로 들어간 이미지의 정렬 및 조정.*/
#backgroundImage {
    height: 100%;
    width: 100%;
    pointer-events: none;
    /*포인터의 작업 방해를 방지.*/
    position: fixed;
    top: 0;
    /*이미지 상단의 여백이 없도록*/
    left: 0;
    /*이미지의 좌측이 딱 붙게.*/
    z-index: -1;
    /*-1 칸 뒤로 보내주겠다.*/
    filter: brightness(70%)
        /*배경화면 이미지를 70%정도로.*/
}